<form action = "/payment/results">
  <div> 
    <label for="apr">APR
    </label>
  <input id="apr" type="text" name="apr_input" placeholder="E.g. 5.42">
  
  <label for="year">Number of years
    </label>
  <input id="year" type="text" name="year_input" placeholder="How many years to repay?">

  <label for="principal">Principal
    </label>
  <input id="principal" type="text" name="principal_input" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
