<form action = "/random/results">
  <div> 
    <label for="min_number_input">Minimum
    </label>
  <input id="min_number_input" type="number" name="minimum_input" placeholder="E.g. 1.5">
  
  <label for="max_number_input">Maximum
    </label>
  <input id="max_number_input" type="number" name="maximum_input" placeholder="E.g. 1.5">

  <button>Pick random number</button>
</form>
