<p>Enter a number</p>

<form action = "/square/results">
  <div> 
    <label for="calculations">Square with Form
    </label>

  <input id="number_input" type="text" name="number_value" placeholder="What number do you want to enter">

  <button>Calculate square</button>
</form>
